<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="icon" href="images/logo/personal.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="home-style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="./home.html">
            <img src="images/logo/personal.jpg" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Articles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            <li class="nav-item ">
              <a class="nav-link" href="./about-me.html">About</a>
            </li>
          </ul>
        </div>
    </nav>      

    
    <div class="container-xxl d-flex flex-row container-separator" id="about-me-container">
        <div class="card-group d-flex flex-row align-items-center">
            <div class="card distance-title-l col-sm-6 no-border transparent-card">
                <h2>About Me</h2>
                <p>
                    My name is Steven Kristian, I'm a computer science student at Bina Nusantara University currently in 5th semester. 
                    I'm also currently developing 2 retailing business which is named FloeShop and Alpha Sports.
                </p>
            </div>
        </div>
    </div> 

    <div class="container-xxl d-flex flex-column container-separator" id="journey-container">
        <div class="card distance-title-l col-sm-12 no-border transparent-card">
            <h2>Experiences</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        
        <div class="row timeline col-sm-12">
            <div class="timeline-separator col-sm-6 d-flex flex-column align-items-center">
                <div class="card card-spacing transparent-card">
                    <h4>Binus University</h4>
                    <h6>Informatics</h6>
                    <p>2020 - Current</p>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>

        <div class="row timeline col-sm-12">
            <div class="timeline-separator col-sm-6"></div>
            <div class="col-sm-6 d-flex flex-column align-items-center">
                <div class="card card-spacing transparent-card text-right">
                    <h4>Binus University</h4>
                    <h6>Informatics</h6>
                    <p>2020 - Current</p>
                </div>
            </div>       
        </div>

        <div class="row timeline col-sm-12">
            <div class="timeline-separator col-sm-6 d-flex flex-column align-items-center">
                <div class="card card-spacing transparent-card">
                    <h4>Binus University</h4>
                    <h6>Informatics</h6>
                    <p>2020 - Current</p>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>

    </div> 


    <div class="container-xxl d-flex flex-column container-separator" id="education-container">
        <div class="card distance-title-l col-sm-12 no-border transparent-card">
            <h2>Education</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        
        <div class="row">
            <div class="col-sm-12 d-flex flex-column">
                <div class="card align-items-center card-spacing transparent-card">
                    <h4>Binus University</h4>
                    <h6>Informatics</h6>
                    <p>2020 - Current</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex flex-column">
                <div class="card align-items-center card-spacing transparent-card">
                    <h4>Binus University</h4>
                    <h6>Informatics</h6>
                    <p>2020 - Current</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex flex-column">
                <div class="card align-items-center card-spacing transparent-card">
                    <h4>Binus University</h4>
                    <h6>Informatics</h6>
                    <p>2020 - Current</p>
                </div>
            </div>
        </div>
    </div> 

    <div class="container-xxl d-flex flex-row container-separator" id="footer-container">
        <div class="col-sm-12 d-flex justify-content-end">
            <div class="card no-border transparent-card">
                <div class="card-body" id="contact-us-text-formatting">
                    <p>Contact Me</p>
                </div>
                <div class="card-img-top" id="contact-us-content" style="margin: 0;">
                    <a href="https://www.instagram.com/steven300900" target="_blank">
                        <img class="small-contact-logo" src="images/logo/instagram.svg">
                    </a>
                    <a href="https://www.linkedin.com/in/steven-kristian-6b415b191" target="_blank">
                        <img class="small-contact-logo" src="images/logo/linkedin.svg" id="linkedin-link">
                    </a>
                    <a href="https://github.com/steven300900" target="_blank">
                        <img class="small-contact-logo" src="images/logo/github.svg" id="github-link">
                    </a>
                    <a href="https://www.youtube.com/channel/UCLscZUTfjY7ztjIO2MUiQTA" target="_blank">
                        <img class="small-contact-logo" src="images/logo/youtube.svg" id="youtube-link">
                    </a> 
                 </div>
            </div>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="function.js"></script>
</body>

</html>