<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steven Kristian</title>
    <link rel="icon" href="images/logo/personal.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="home-style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="./home.html">
            <img src="images/logo/personal.jpg" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Articles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </li>
            <li class="nav-item ">
                <a class="nav-link" href="./about-me.html">About</a>
            </li>
            </ul>
        </div>
    </nav>    
      

    
    <div class="container-xxl d-flex flex-row container-separator" id="main-container">
        <div class="card-group d-flex align-items-center">
            <div class="card col-sm-6 no-border transparent-card">
                <h2>Hi there!</h2>
                <h4></h4>
                <p>
                    If you are interested in my contents or you find it informative you can help me share it
                    to your friends or basically to anyone.<br>
                    My goal is to help people by sharing tips and experiences regarding the
                    field that I've been going through.
                </p>
            </div>
                
            <div class="card col-sm-6 no-border transparent-card" style="align-items: center;">
                <img class="card-img profile-image" src="images/profile.jpg" alt="Card image">
            </div>
        </div>
    </div>


    <div class="container-xxl d-flex flex-column container-separator" id="articles-container">
        <div class="row">
            <h2 class="distance-title col col-sm-12">Articles</h2>
        </div>
        
        <div class="row">
            <div class="card-deck row-cols-3 col-sm-12">
                <div class="col card-spacing">
                    <div class="card no-border card-clicker h-100">
                        <img class="card-img fill-image" style="margin: auto" src="images/anime.jpg">
                        <div class="card-img-overlay d-flex">
                            <h5 class="card-title" style="margin: auto">Anime</h5>
                        </div>
                    </div>
                </div>
    
                <div class="col card-spacing">
                    <div class="card no-border card-clicker h-100">
                        <img class="card-img fill-image" style="margin: auto" src="images/piggy_bank.jpg">
                        <div class="card-img-overlay d-flex">
                            <h5 class="card-title" style="margin: auto">Investing</h5>
                        </div>
                    </div>
                </div>
                    
                <div class="col card-spacing">
                    <div class="card no-border card-clicker h-100">
                        <img class="card-img fill-image" style="margin: auto" src="images/dumbbell.jpg">
                        <div class="card-img-overlay d-flex">
                            <h5 class="card-title" style="margin: auto">Health & Fitness</h5>
                        </div>
                    </div>
                </div>
                    
                <div class="col card-spacing">
                    <div class="card no-border card-clicker h-100">
                        <img class="card-img fill-image" style="margin: auto" src="images/alpha_sports.jpg">
                        <div class="card-img-overlay d-flex">
                            <h5 class="card-title" style="margin: auto">Alpha Sports</h5>
                        </div>
                    </div>
                </div>
                    
                <div class="col card-spacing">
                    <div class="card no-border card-clicker h-100">
                        <img class="card-img fill-image" style="margin: auto" src="images/floeshop.jpg">
                        <div class="card-img-overlay d-flex">
                            <h5 class="card-title" style="margin: auto">FloeShop</h5>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
         
    </div>
    
    
    <div class="container-xxl d-flex flex-row container-separator" id="footer-container">
        <div class="col-sm-12 d-flex justify-content-end">
            <div class="card no-border transparent-card">
                <div class="card-body" id="contact-us-text-formatting">
                    <p>Contact Me</p>
                </div>
                <div class="card-img-top" id="contact-us-content" style="margin: 0;">
                    <a href="https://www.instagram.com/steven300900" target="_blank">
                        <img class="small-contact-logo" src="images/logo/instagram.svg">
                    </a>
                    <a href="https://www.linkedin.com/in/steven-kristian-6b415b191" target="_blank">
                        <img class="small-contact-logo" src="images/logo/linkedin.svg" id="linkedin-link">
                    </a>
                    <a href="https://github.com/steven300900" target="_blank">
                        <img class="small-contact-logo" src="images/logo/github.svg" id="github-link">
                    </a>
                    <a href="https://www.youtube.com/channel/UCLscZUTfjY7ztjIO2MUiQTA" target="_blank">
                        <img class="small-contact-logo" src="images/logo/youtube.svg" id="youtube-link">
                    </a> 
                 </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="function.js"></script>
</body>

</html>